<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.sena.jonathan.remindmetraining" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".RemindApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.facebook.skd.ApplicationId" android:value="@string/app_facebook"/>
        <activity android:name="com.facebook.FacebookActivity"/>
        <provider
            android:authorities="com.facebook.app.FacebookContentProvider1470963193220633"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetalleActivity"
            android:label="@string/title_activity_detalle" >
        </activity>
        <activity
            android:name=".PreviewActivity"
            android:label="@string/title_activity_preview" >
        </activity>
    </application>

</manifest>
